[Unit]
Description=@{DOMAIN_NAME} server instance
Requires=docker.service @{DEPEND_SERVICES_SYSTEMD}
After=docker.service @{DEPEND_SERVICES_SYSTEMD}

[Service]
#{CONFIG_SYSTEMD}

Restart=always
RestartPreventExitStatus=101
PrivateTmp=false

RestartSec=30
RestartPreventExitStatus=130

StartLimitInterval=5m
StartLimitBurst=9

WorkingDirectory=@{PWD}

ExecStartPre=-/usr/bin/systemctl reset-failed @{DEPEND_SERVICES_SYSTEMD}
ExecStartPre=-/usr/bin/systemctl start @{DEPEND_SERVICES_SYSTEMD}
ExecStartPre=-/usr/bin/env sh -c 'docker rm -f "@{SERVICE_NAME}" ; true'
# ExecStart=@{PWD}/check-external-dependencies.sh
ExecStart=@{PWD}/start-docker.sh

# ExecReload=#{RELOAD_DOCKER_COMMAND}

ExecStop=@{PWD}/kill-docker.sh
ExecStopPost=-/usr/bin/env sh -c 'docker rm -f "@{SERVICE_NAME}" ; true'

# OnFailure=report-xxxx.service "%N"

[Install]
WantedBy=multi-user.target
